.search-player {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-basis: 300px;
}

.search-player input {
  padding: 7px;
  width: 600px;
}

.search-player-button {
  width: 600px;
}